@import "styles/colors"
@import "styles/variables"

.homeHeader

  &__logo
    display: flex
    font-family: "Kaushan Script", "Open Sans", sans-serif
    padding: $gap


  &__icon
    height: 40px
    display: inline
    padding-right: $gap

  &__text
    font-size: 26px
    line-height: 40px
    color: $white