$black: #000000
$black--alt: #272a33
$black--t: rgba(0, 0, 0, 0.6)

$white: #FFFFFF
$white--alt: #BDBDBD

$red: #ff1f4b
$red--alt: #c52243

$blue: #118fe4
$blue--alt: #1496ed

$gray: #F1F1F1
$gray--alt: #757575